<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!-- *************************************************************** -->
<!-- This suite is used to specify the location of the TEACHER tests -->
<!-- This file is required                                           -->
<!-- *************************************************************** -->

<suite name="TicTacToeSuite" time-out="10000" verbose="1">
    <test name="CompleteTests">
        <groups>
            <run>
                <include name="Arbiter"/>
                <include name="Board"/>
                <include name="Answer"/>
            </run>
        </groups>
        <classes>
            <class name="game.tictactoe.ArbiterTest"/>
            <class name="game.tictactoe.BoardTest"/>
            <class name="game.tictactoe.AnswerTest"/>
        </classes>
    </test>
</suite>